# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `.title()`, `.upper()`

* `.capitalize()` : 앞글자를 대문자로 만들어 반환한다.

* `.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환한다.

* `.upper()` : 모두 대문자로 만들어 반환한다.

In [15]:
a = 'hI! Everyone, I\'m kim'

# 아래에 코드를 작성하세요.

In [13]:
print(a.capitalize())
print(a.title())
print(a.upper())

Hi! everyone, i'm kim
Hi! Everyone, I'M Kim
HI! EVERYONE, I'M KIM

### `.lower()`, `.swapcase()`

* `lower()` : 모두 소문자로 만들어 반환한다.

* `swapcase()` : 대 <-> 소문자로 변경하여 반환한다.

In [14]:
a = 'hI! Everyone, I\'m kim'

# 아래에 코드를 작성하세요.

In [11]:
print(a.lower())
print(a.swapcase())

hi! everyone, i'm kim
Hi! eVErYONE, i'M KIM

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

**Iterable** 을 해당 문자열을 separator 로 합쳐서 문자열로 반환합니다.

> `iterable`
>
> 각각의 요소를 하나씩 반환할 수 있는 객체를 말한다. List와 Tuple, Dictionary와 Set 등이 여기에 속한다. ('String')
>
> `split` : 짝궁

In [16]:
word = '배고파'
words = ['안녕', 'hello']

# 아래에 코드를 작성하세요.

In [18]:
'!'.join(word)

'배!고!파'

In [19]:
' '.join(words)

'안녕 hello'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [20]:
'Yay!'.replace('a','_')

'Y_y!'

In [21]:
'woowoowoo'.replace('o','')

'www'

In [22]:
'woowoowoo'.replace('o','',2) #몇개만 바꾸고 싶을때

'wwoowoo'

In [24]:
'woowoowoo'.replace('owoow','oww') #몇개만 바꾸고 싶을때

'woowwoo'

### `.strip([chars])`

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip), 오른쪽을 제거합니다(rstrip).

지정하지 않으면 **공백을 제거합니다.**

In [ ]:
# 아래에 코드를 작성하세요.

In [30]:
print('     oh\n배고프당\n'.strip())
print('     oh\n배고프당\n')

oh
배고프당
     oh
배고프당

In [31]:
print('     oh\n배고프당\n    '.rstrip())

     oh
배고프당

In [32]:
print('     oh\n배고프당\n    '.lstrip())

oh
배고프당

## 탐색 및 검증

### `.find(x)` 

x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [34]:
'apple'.find('l')

3

In [35]:
'apple'.find('d')

-1

### `.index(x)`

x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [38]:
'apple'.index('l')

3

In [39]:
'apple'.index('d')

ValueError: substring not found

## `.split(특정한단위)`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [40]:
'a b c'.split(' ')

['a', 'b', 'c']

In [41]:
'a b c'.split(' ')#디폴트값은 공백

['a', 'b', 'c']

In [42]:
'a b c'.split('') # 없으면 에러

ValueError: empty separator

## 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isupper(), .istitle(), .islower()
```

In [43]:
# 다음 명령어로 문자열 메소드를 확인할 수 있습니다.
dir('example')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [51]:
# 카페 리스트를 만들어봅시다.
cafe = ['starbucks', 'tomntoms', 'hollys']

In [ ]:
# 값을 추가해봅시다.

In [52]:
cafe.append('bananapresso')
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'bananapresso']

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [ ]:
# 앞서 만든 리스트에 추가해봅시다.

In [49]:
numbers = [1,2,3]
numbers.extend([4,5,6])
print(numbers) # 원본 변경

[1, 2, 3, 4, 5, 6]

In [ ]:
# 앞서 배운 list concatenate와 동일합니다.

In [ ]:
# append와 비교해봅시다.

In [54]:
cafe.append(['angel'])
print(cafe)
print('----------')

cafe.extend('빽다방')
print(cafe)
print('----------')

cafe.extend(['리터카페'])
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'bananapresso', ['angel']]
----------
['starbucks', 'tomntoms', 'hollys', 'bananapresso', ['angel'], '빽', '다', '방']
----------
['starbucks', 'tomntoms', 'hollys', 'bananapresso', ['angel'], '빽', '다', '방', '리터카페']

### `.insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [ ]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.

In [59]:
cafe.insert(0, 'hi')
print(cafe)

['hi', '맥커피', '맥커피', '맥커피', 'starbucks', 'tomntoms', 'hollys', 'bananapresso', ['angel'], '빽', '다', '방', '맥커피', '리터카페']

In [ ]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다

In [62]:
cafe2 = [1,2,3,4,5]
cafe2.insert(len(cafe2), 'bye')
print(cafe2)

[1, 2, 3, 4, 5, 'bye']

In [ ]:
# 리스트의 길이를 넘어서는 인덱스는 마지막에 아이템이 추가됩니다.

In [63]:
cafe2 = [1,2,3,4,5]
cafe2.insert(len(cafe2)+100, 'bye')
print(cafe2)

[1, 2, 3, 4, 5, 'bye']

### `.remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [67]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]

In [ ]:
# 중복된 값 1을 삭제 해봅시다.

In [68]:
numbers.remove(1)
print(numbers)

[2, 3, 1, 2]

In [ ]:
# 한번 더 삭제해봅시다.

In [69]:
numbers.remove(1)
print(numbers)

[2, 3, 2]

In [ ]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.

In [70]:
numbers.remove(1)
print(numbers)

ValueError: list.remove(x): x not in list

In [72]:
for _ in range(numbers.count(2)):
    numbers.remove(2)
    print(numbers)

[3, 2]
[3]

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [73]:
# pop을 사용해봅시다.
a = [1, 2, 3, 4, 5, 6]
a.pop()
print(a)

[1, 2, 3, 4, 5]

In [ ]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.

In [74]:
a.pop(0)
print(a)

[2, 3, 4, 5]

In [ ]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다.

In [75]:
deleted_value = a.pop()
print(deleted_value) #튀어 나온 값이 리턴됨

5

### `.clear()`

리스트의 모든 항목을 삭제합니다.

In [ ]:
# clear를 사용해봅시다.

In [76]:
a = [1,2,3,4,5]
a.clear()

## 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [77]:
# index를 사용해봅시다.
a = [1, 2, 3, 4, 5]

In [78]:
a.index(3)

2

In [80]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)
a.index(10)

ValueError: 10 is not in list

In [81]:
a.find(3)

AttributeError: 'list' object has no attribute 'find'

### `.count(x)`

원하는 값의 개수를 확인할 수 있습니다.

In [83]:
# count를 사용해봅시다.
a = [1, 2, 5, 1, 5, 1]

In [84]:
a.count(1)

3

In [ ]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.

In [85]:
for _ in range(a.count(1)):
    a.remove(1)

In [ ]:
# 모두 삭제되었는지 검증해봅시다.

In [87]:
print(a) # 1 세개 삭제 O.K

[2, 5, 5]

### `.sort()`

정렬을 합니다. 

내장함수 `sorted()` 와는 다르게 **원본 list를 변형**시키고, **None**을 리턴합니다.

In [90]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)
print (sorted(lotto))

[45, 22, 13, 5, 11, 39]
[5, 11, 13, 22, 39, 45]

In [91]:
# sort() 를 사용해봅시다.
print(lotto.sort())
print(lotto)

None
[5, 11, 13, 22, 39, 45]

### `.reverse()`

반대로 뒤집습니다. **(정렬 아님)**

In [92]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)

['Tom', 'David', 'Justin']

In [97]:
print(list(reversed(classroom)))
classroom.reverse() #리턴값 X
print(classroom)

['Justin', 'David', 'Tom']
['Justin', 'David', 'Tom']

## 복사

In [98]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

In [100]:
copy_list = original_list
print (copy_list)

[1, 2, 3]

In [ ]:
# copy_list의 값을 바꾸고 original_list를 출력해봅시다.

In [103]:
copy_list[0] = 5
print(copy_list)
print(original_list) # 파이썬 튜터에서 확인

[5, 2, 3]
[5, 2, 3]

In [ ]:
# id 값을 확안해봅시다.

In [105]:
print(id(copy_list))
print(id(original_list))

1716444165576
1716444165576

In [ ]:
# 숫자를 확인해봅시다.

In [107]:
original_list = [1, 2, 3]
copy_list = original_list[:] #슬라이싱은 리턴값 O
copy_list[0] = 5
print(copy_list)
print(original_list) # 뮤터블한 애들의 특징 ( 뮤터블 : 리스트, 딕트, 셋 / 이뮤터블 : 스트링, 숫자, 불리값, 튜플)

[5, 2, 3]
[1, 2, 3]

In [ ]:
# 딕셔너리도 확인해봅시다.

In [111]:
lunch = {'김밥천국':'참치김밥','양자강':'차돌짬뽕'}
dinner = lunch
dinner['김밥천국'] ='치즈라면'
print (lunch)
print(dinner)

{'김밥천국': '치즈라면', '양자강': '차돌짬뽕'}
{'김밥천국': '치즈라면', '양자강': '차돌짬뽕'}

### copy
> 위 코드를 [pythontutor](http://pythontutor.com/) 를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 **객체의 주소**를 가지고 있을 뿐이다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 `[1, 2, 3]` 이라는 객체를 생성하고, 변수에는 객체의 주소가 저장된다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작한다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야합니다.

In [ ]:
# 리스트를 복사해봅시다.

In [112]:
a = [1, 2, 3]
b = a[:]

b[0] = 5
print(a)

[1, 2, 3]

In [ ]:
# 다른 방법으로 복사해봅시다.

In [116]:
a = [1, 2, 3]
b = list(a)

b[0] = 5
print(a,b)

[1, 2, 3] [5, 2, 3]

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 `다른 얕은 복사(shallow copy)`이다.

In [ ]:
# 2차원 배열을 복사해봅시다.

In [118]:
a = [1, 2, [3, 4]]
b = a[:]

a[2][0] = 99
print(a,b)

b[0] = 24
print(a,b)

[1, 2, [99, 4]] [1, 2, [99, 4]]
[1, 2, [99, 4]] [24, 2, [99, 4]]

In [119]:
a = [1, 2, [3, 4]]
b = list(a)

a[2][0] = 99
print(a,b)

b[0] = 24
print(a,b)

[1, 2, [99, 4]] [1, 2, [99, 4]]
[1, 2, [99, 4]] [24, 2, [99, 4]]

* 만일 중첩된 상황에서 복사를 하고 싶다면, `깊은 복사(deep copy)`를 해야한다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경된다.

In [ ]:
# 깊은 복사를 사용해봅시다.

In [121]:
import copy
a = [1, 2, [3, 4]]
b = copy.deepcopy(a)

a[2][0] = 99
print(a,b)

[1, 2, [99, 4]] [1, 2, [3, 4]]

In [127]:
import copy
students ={
    '장현준' : {
        '나이' : 30,
        '전공' : '전자공학과'
    },
    '꼬북이' : {
        '나이' : '100',
        '전공' : '소방수'
    }
}
copy_students = students
deep_students = copy.deepcopy(students)
students['꼬북이']['나이'] = '할배'

print (copy_students, '\n', deep_students)

{'장현준': {'나이': 30, '전공': '전자공학과'}, '꼬북이': {'나이': '할배', '전공': '소방수'}}
 {'장현준': {'나이': 30, '전공': '전자공학과'}, '꼬북이': {'나이': '100', '전공': '소방수'}}

## List Comprehension

List Comprehension은 리스트안에 식, for 문을 지정합니다.
여러 줄의 코드를 한 줄로 줄일 수 있습니다.

---

**활용법**

```python
[식 for 변수 in iterable]

list(식 for 변수 in iterable)
```

### 세제곱 리스트

> 다음의 리스트를 작성하세요.
- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [135]:
a = range(1, 11)
b = [n for n in a]
c = []
for n in a:
    c.append(n)
print(a,b,c)

range(1, 11) [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [136]:
cubic_list = []
for n in a:
    cubic_list.append(n ** 3)

print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
# List Comprehension

In [138]:
cubic_list2 = list(n ** 3 for n in a)
print(cubic_list2)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## List Comprehension + 조건문

조건문에 참인 식으로 리스트를 생성합니다.

---

**활용법**

```python
[식 for 변수 in iterable if 조건식]

[식 if 조건식 else 식 for 변수 in iterable]

# elif 는 다음과 같이 사용해야 합니다. (if else 열거)
[식 if 조건식 else 식 if 조건식 else 식 if ... else ... for 변수 in iterable]
```

### 짝수리스트
> 다음의 리스트를 작성하세요.

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [141]:
even_list = []
for n in range(1,11):
    if not n % 2:
        even_list.append(n)
print(even_list)

[2, 4, 6, 8, 10]

In [ ]:
# List Comprehension

In [144]:
even_list2 = list(n for n in range(1,11) if not n % 2)
print(even_list2)

[2, 4, 6, 8, 10]

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 작성하세요.
1. 반복문 활용
2. list comprehension 활용

```python
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']
```

---

```
예시 출력)    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [145]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
# 반복문을 활용하여 작성하세요.

In [168]:
pair = []
for boy in boys:
    for girl in girls:
        pair.append( (boy,girl) )
print (pair)

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [172]:
pair2 = list((boy,girl) for boy in boys for girl in girls )
print(pair2)

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

In [173]:
from itertools import product

pair3 = list(product(boys, girls))
print(pair3)

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

In [175]:
pair4 = list(zip(boys,girls))
print(pair4)

[('justin', 'jane'), ('david', 'iu'), ('kim', 'mary')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾으세요.
1. 반복문 활용
2. list comprehension 활용

---

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
# 반복문을 활용하여 작성하세요.

In [184]:
sol_list = []
for x in range(1,50):
    for y in range(1,50):
        for z in range(1,50):
            if x ** 2 + y ** 2 == z ** 2:
                sol_list.append((x,y,int(z)))
print(sol_list)

[(3, 4, 5), (4, 3, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 6, 10), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 5, 13), (12, 9, 15), (12, 16, 20), (12, 35, 37), (15, 8, 17), (15, 20, 25), (15, 36, 39), (16, 12, 20), (16, 30, 34), (18, 24, 30), (20, 15, 25), (20, 21, 29), (21, 20, 29), (21, 28, 35), (24, 7, 25), (24, 10, 26), (24, 18, 30), (24, 32, 40), (27, 36, 45), (28, 21, 35), (30, 16, 34), (32, 24, 40), (35, 12, 37), (36, 15, 39), (36, 27, 45), (40, 9, 41)]

In [185]:
sol_list2 = []
for x in range(1,50):
    for y in range(x,50):
        for z in range(y,50):
            if x ** 2 + y ** 2 == z ** 2:
                sol_list2.append((x,y,int(z)))
print(sol_list2)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [187]:
sol_list3 =list((x,y,z) for x in range(1,50) for y in range(x,50) for z in range (1,50) if x ** 2 + y ** 2 == z ** 2)
print(sol_list3)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하세요.

```python
words = 'Life is too short, you need python!'
```

---

```
예시 출력)
Lf s t shrt, y nd pythn!
```

In [164]:
words = 'Life is too short, you need python!'

In [ ]:
# 반복문을 활용하여 작성하세요.

In [193]:
new_words = ''
#vowels = ['a','e','i','o','u']
for word in words:
    #if word not in vowels:
    if word not in 'aeiou':
        new_words += word
print(new_words)

Lf s t shrt, y nd pythn!

In [195]:
new_words = []
for word in words:
    if word not in 'aeiou':
        new_words.append(word)
print(''.join(new_words))

Lf s t shrt, y nd pythn!

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [198]:
new_words = [word for word in words if word not in 'aeiou']
for word in new_words:
    print(word,end='')
print('')
print(''.join(new_words))
print(''.join([word for word in words if word not in 'aeiou']))

Lf s t shrt, y nd pythn!
Lf s t shrt, y nd pythn!
Lf s t shrt, y nd pythn!

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

(3.6 버전이후부터 어느정도 순서는 생겼다. 그러나 순서 인덱스 접근은 하지 말자)

In [206]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

In [207]:
data_pop = my_dict.pop('apple')
print(my_dict)
print(f'pop은 키 없이 값만 리턴된다. : {data_pop}')

{'banana': '바나나'}
pop은 키 없이 값만 리턴된다. : 사과

In [ ]:
# 딕셔너리에 없으면 에러가 발생합니다.

In [208]:
data_pop = my_dict.pop('apple')

KeyError: 'apple'

In [ ]:
# 두번째 인자로 default를 설정할 수 있습니다.

In [209]:
my_dict['banana'] = '버내너'
print(my_dict)

{'banana': '버내너'}

### `.update(키 = 밸류)` >>> 키워드 가변인자때 사용한 형태

값을 제공하는 key, value로 덮어씁니다.

In [210]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [212]:
my_dict.update(banana='버내너')
print(my_dict)

{'apple': '사과', 'banana': '버내너', 'melon': '멜론'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 **KeyError가 발생하지 않습니다.** **default는 기본적으로 None**입니다.

In [214]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict['pineapple']

KeyError: 'pineapple'

In [216]:
print(my_dict.get('pineapple')) #에러가 생기지 않는다.

None

In [218]:
print(my_dict.get('pineapple', '디폴트값')) #디폴트값을 설정할수 있다

디폴트값

## Dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다. 

---

**활용법**

```python
{키: 값 for 키, 값 in 딕셔너리}

dict({키: 값 for 키, 값 in 딕셔너리})

{키: 값 for 키, 값 in 딕셔너리 if 조건식}

{키: 값 if 조건식 else 값 for 키, 값 in 딕셔너리}

```

In [ ]:
# dictionary comprehension

In [219]:
# {1:1, 2:8, 3:27, .....}

#cubic = {키:밸류 반복문 조건문}
cubic = {num: num**3 for num in range(1,11)}
print(cubic)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

### Dictionary comprehension 사용해보기

In [303]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [305]:
# 미세먼지 농도가 80 초과 지역만 뽑아주세요.
# 예) {'대전': 82, '중국': 200}
dusts_80 = {key: value for key, value in dusts.items() if value > 80 }
print(dusts_80)

{'대전': 82, '중국': 200}

In [226]:
hell = dict()
for key, value in dusts.items():
    if value > 80:
        hell[key] = value
        
print(hell)

{'대전': 82, '중국': 200}

In [ ]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꾸세요.

In [230]:
result = dict()

for key, value in dusts.items():
    if value > 80:
        result[key] = '나쁨'
    else :
        result[key] = '좋음'
        
print(result)

{'서울': '좋음', '대전': '나쁨', '구미': '좋음', '광주': '좋음', '중국': '나쁨'}

In [229]:
result = {key: '나쁨' if value > 80 else '좋음' for key, value in dusts.items()}

print(result)

{'서울': '좋음', '대전': '나쁨', '구미': '좋음', '광주': '좋음', '중국': '나쁨'}

In [ ]:
# elif 도 사용할 수 있습니다. (if else 열거)

In [250]:
result = {key: '매우나쁨' if value > 150 else '나쁨' if value > 80 else '보통' if value > 30 else '좋음' for key, value in dusts.items()}
print (result)

{'서울': '보통', '대전': '나쁨', '구미': '좋음', '광주': '보통', '중국': '매우나쁨'}

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [232]:
# add를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [234]:
a.add('오렌지')
print (a)

{'오렌지', '바나나', '수박', '사과'}

### `.update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [245]:
# update를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [246]:
a.update({'오렌지','천혜향'})
print(a)

{'천혜향', '수박', '오렌지', '바나나', '사과'}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [254]:
# remove를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [255]:
a.remove('바나나')
print(a)

{'수박', '사과'}

In [256]:
a.remove('바나나')
print(a) #없는 값을 넣어서 에러가 난다

KeyError: '바나나'

### `.discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [257]:
# discard를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [259]:
a.discard('바나나')
print(a)

{'수박', '사과'}

In [260]:
a.discard('바나나')
print(a) #없는 값을 넣어도 에러가 나지 않는다

{'수박', '사과'}

### `.pop()`

**임의의 원소**를 제거해 반환합니다.

In [261]:
# pop을 사용해봅시다.
a = {'사과', '바나나', '수박', '아보카도'}

In [266]:
print(a.pop()) # 더이상 뽑아낼게 없을때 뜨는 에러

KeyError: 'pop from an empty set'

#  `map()`, `zip()`, `filter()`

## `map(function, iterable)`

* Iterable의 모든 요소에 **function**을 적용한 후 그 결과를 돌려준다. 


* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range


* return은 `map_object` 형태이다.

In [268]:
numbers = [1, 2, 3]

# 위의 코드를 문자열 '123'으로 만드세요

In [ ]:
#join() -> x -> for를 통한 구현

In [273]:
chars = []
for number in numbers:
    chars.append(str(number))
print(chars)
print(''.join(chars))

['1', '2', '3']
123

In [275]:
# list comprehension
chars = [str(number) for number in numbers]
print(chars)
print(''.join(chars))

['1', '2', '3']
123

In [ ]:
# map
# map(함수이름, iterable)

In [278]:
''.join(map(str, numbers))

'123'

In [279]:
numbers = ['1', '2', '3']

# 위의 코드를 숫자 '123'으로 만드세요

In [ ]:
# list comprehension

In [281]:
int(''.join(numbers))

123

첫번째 인자 function은 사용자 정의 함수도 가능합니다.

In [282]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

In [285]:
numbers = [1,2,3]
result1 = [n ** 3 for n in numbers]
print(result1)
print(list(map(cube,numbers)))

[1, 8, 27]
[1, 8, 27]

## `zip(*iterables)` 

* 복수의 iterable 객체를 모아준다.


* 결과는 튜플의 모음으로 구성된 `zip object` 를 반환한다.

In [288]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']
men = ['charie', 'john', 'eric']
women = ['ashley', 'alice', 'christine']

In [289]:
list(zip(girls, boys, men, women))

[('jane', 'justin', 'charie', 'ashley'),
 ('iu', 'david', 'john', 'alice'),
 ('mary', 'kim', 'eric', 'christine')]

In [ ]:
# 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [ ]:
# dictionary comprehension

In [ ]:
# zip

In [ ]:
# 다른 예시도 알아봅시다.

In [293]:
a = '123'
b = '567'

sum = 0
for digit_a, digit_b in zip(a,b):
    sum += int(digit_a+digit_b)
print(sum)

78

* zip은 반드시 길이가 같을 때 사용해야한다. 다르다면 가장 짧은 것을 기준으로 구성한다.

In [295]:
num1 = [1,2,3]
num2 = ['4','5']

list(zip(num1,num2))

[(1, '4'), (2, '5')]

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다

In [297]:
from itertools import zip_longest

list(zip_longest(num1, num2, fillvalue=0))

[(1, '4'), (2, '5'), (3, 0)]

## `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 `True` 인 것들만 구성하여 반환한다.


* `filter object` 를 반환한다.

In [ ]:
# 홀수인지 판단하는 코드를 작성하세요.

In [300]:
def odd(n):
    return n % 2

numbers = [1, 2, 3]
list(filter(odd,numbers))

[1, 3]

In [ ]:
# 다음의 list comprehension과 동일하다.

In [301]:
[n for n in numbers if odd(n)]

[1, 3]